td, th{
 border: 2px inset black;
 width: 500px;
 height: 200px;
 font-weight: 800;
 font-size: 250%;
 text-align: center;
 color: Maroon;
}

.tdcolor{
  background-color:#F08080; 
}
.feb1{
  background-color:#F08080; 
  background-image: url(звезда.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
 .back1{
   margin-left:10%;
   margin-right:10%;
   border-collapse: collapse;
   background-image: url(февраль.jpeg);
   width: 100%; 
   height: 400px; 
   margin: 0; 
   opacity: 0.7;
   background-position: center center; 
   background-repeat: no-repeat;  
   background-attachment: fixed;   
   background-size: cover;
   background-color: #464646;
   border-collapse: collapse;
   object-fit: cover;
            }



