td, th{
width: 500px;
height: 100px;
font-weight: 800;
font-size: 250%;
text-align: center;
background-color: #DCDCDC;
}

.tdcolor{
 background-color:#F08080; 
}
.23feb{
 background-image: url(звезда.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}
