td, th{
 width: 100px;
 height: 100px;
 font-weight: 800;
 font-size: 250%;
 text-align: center;
}

.tdcolor{
  background-color:#F08080; 
}
.feb1{
  background-color:#F08080; 
  background-image: url(звезда.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
 .back1{
   background-image: url(февраль.jpeg);
   opacity: 0.7;
   background-position: center center; 
   background-repeat: no-repeat;  
   background-attachment: fixed;   
   background-size: cover;
   background-color: #464646;
            }

.black1{
 bgcolor: #000000;
 width:  100px;
 height: 100px;
}
.white1{
 bgcolor: #FFFFFF;
 width:  100px;
 height: 100px;
}

