
.black1{
 background: #696969;
 width:  100px;
 height: 100px;
}
.white1{
 background: #D3D3D3;
 width:  100px;
 height: 100px;
}
.deg1{
-webkit-transform: rotate(180deg);
 border: 4px inset Gold;
 font-size: 20px;
 background-color: #FFD700;
}
.bord1{
 border: 4px inset Gold;
 font-size: 20px;
 background-color: #FFD700;
}
.back1{
   background-image: url(шахматы.jpg);
   background-position: center center; 
   background-repeat: no-repeat;  
   background-attachment: fixed;   
   background-size: cover;
}
.tab1{
  align: center;
  border: 4px inset Gold;
}
              
