* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.load {
    text-decoration: none;
    outline: none;
    display: inline-block;
    width: 200px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.load:hover {
    background: rgba(114, 47, 55);
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}

.hed {
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 10px;
}

.button {
    display: flex;
    justify-content: center;
}

.hat {
    display: flex;
    justify-content: center;
}

.logo {
    width: 150px;
    height: 150px;
    margin-left: 10%;
}

.name_company {
    color: white;
    margin-top: 4%;
    font-size: 40px;
}

body {
    background-image: url(Fon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main_information {
    margin-left: 23%;
    margin-top: 50px;
}

.vine {
    width: 400px;
    height: 300px;
    float: left;
    margin: 7px;
}

.wine_field {
    border: 2px solid maroon;
    border-top-left-radius: 100% 20px;
    border-bottom-right-radius: 100% 20px;
    color: #fff;
    box-sizing: border-box;
    width: 900px;
    height: 700px;
    background-color: rgba(114, 47, 55, 0.7);
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.information {
    color: #e49b0f;
    font-size: 25px;
    font-weight: bold;
}

h2 {
    text-align: center;
    color: Tan;
}


@media screen and (max-width:1025px) {
    .main_information {
        margin-top: 50px;
        margin-left: 0px;
        width: 100%;
    }

    .information {
        color: #e49b0f;
        font-size: 40px;
        font-weight: bold;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-left: 1%;
    }

    .hat {
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
    }

    .vine {
        width: 50%;
        float: left;
    }

    .wine_field {
        border: 1px solid maroon;
        border-radius: 0%;
        color: #fff;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgba(114, 47, 55, 0.7);
        font-size: 40px;

    }

    .name_company {
        color: white;
        margin-top: 4%;
        font-size: 40px;
    }

    .load {
        text-decoration: none;
        outline: none;
        display: inline-block;
        width: 200px;
        height: 90px;
        line-height: 30px;
        border-radius: 45px;
        margin: 10px 20px;
        padding-top: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: normal;
        font-weight: 600;
        color: #524f4e;
        background: white;
        box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
        transition: .3s;
    }

    .load:hover {
        background: rgba(114, 47, 55);
        box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
        color: white;
        transform: translateY(-7px);
    }

}

@media screen and (max-width:768px) {
    .main_information {
        margin-top: 50px;
        margin-left: 0px;
        width: 100%;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-left: 1%;
    }

    .vine {
        width: 50%;
        float: left;
        margin-right: 10px;
    }

    .wine_field {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid maroon;
        border-radius: 0%;
        color: #fff;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: rgba(114, 47, 55, 0.7);
        font-size: 25px;
    }

    .name_company {
        color: white;
        margin-top: 4%;
        font-size: 40px;
    }

    .load {
        text-decoration: none;
        outline: none;
        display: inline-block;
        line-height: normal;
        border-radius: 0px;
        border: 1px solid violet;
        height: 100%;
        margin-top: 20px;
        margin-left: 2px;
        font-family: 'Arial', sans-serif;
        font-size: 27px;
        text-transform: none;
        text-align: center;
        letter-spacing: normal;
        font-weight: 400;
        color: white;
        background: none;
        box-shadow: none;
        transition: .0s;
    }

    .load:hover {
        background: none;
        box-shadow: none;
        color: none;
        transform: none;
    }
}


@media screen and (max-width:414px) {
    .button {
        padding-left: 5px;
        padding-right: 5px;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-left: 1%;
    }

    .vine {
        width: 100%;
        float: left;
        margin: 0px;
    }

    .information {
        color: #e49b0f;
        font-size: 30px;
        font-weight: bold;
    }

    .wine_field {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid maroon;
        border-radius: 0%;
        color: #fff;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        background-color: rgba(114, 47, 55, 0.7);
        font-size: 20px;
    }

    .name_company {
        color: white;
        margin-top: 4%;
        font-size: 20px;
    }

    .load {
        text-decoration: none;
        outline: none;
        display: inline-block;
        line-height: normal;
        border-radius: 0px;
        border: 1px solid violet;
        height: 100%;
        margin-top: 20px;
        margin-left: 2px;
        margin-right: 2px;
        font-family: 'Arial', sans-serif;
        font-size: 17px;
        text-transform: none;
        text-align: center;
        letter-spacing: normal;
        font-weight: 400;
        color: white;
        background: none;
        box-shadow: none;
        transition: .0s;
    }

    .load:hover {
        background: none;
        box-shadow: none;
        color: none;
        transform: none;
    }

}
