<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="JS.JS">
    </script>
    <title>Лаба 9</title>
</head>

<body class="tb">
    <div class="inform">
        <div>
            <p>
                Название вина:
            </p>
            <input type="text" ng-model="Name">
        </div>
        <div>
            <p>
                Страна:
            </p>
            <input type="text" ng-model="Country">
        </div>
        <div>
            <p>
                Вид винограда:
            </p>
            <input type="text" ng-model="Grape">
        </div><br>
        <div>
            <button type="button" class="btn btn-primary btn-dark">Записать</button>
        </div><br>
    </div><br>
    <div ng-controller="MyController">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Название вина:</th>
                    <th>Страна</th>
                    <th>Вид винограда</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in Groups">
                    <td>{{x.name}}</td>
                    <td>{{ x.country}}</td>
                    <td>{{ x.grape}}</td>
                </tr>
                <tr>
                    <td>{{Name}}</td>
                    <td>{{Country}}</td>
                    <td>{{Grape}}</td>
                </tr>>
            </tbody>
        </table>
    </div>
</body>

</html>
