td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
}
table{
    border-collapse: collapse;
    margin: auto;  
    margin-top: 200px;
    background-color: rgba(255, 255, 255, 0.7);
}
body{
    background-image: url("OrdaVSAlians.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#Cross
{
    font-size: 100px;
    color: Lavender;
    text-align: center;
    background-color: MidnightBlue;
}
.OrdAlia
{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, DarkRed 50%, RoyalBlue 50%);
    border: 3px solid black;
}
.Width1
{
    color: yellow;
    width: 300px;
    font-size: 30px;
}
.Height1
{
    color: black;
    width: 300px;
    font-size: 30px;
}
input[type="text"]
{
    height: 50px;
    font-size: 30px;
    width: 80px;
    text-align: center;
}
#Orda,#Alians
{
    display: none;
    font-size: 30px;
    background-color: coral;
}
.Hod
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.heading
{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
