* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(Image/Fon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h2 {
    color: green;
}

.sup_block {
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 200px;
    display: inline-flex;
}

.main_information {
    padding-left: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    font-size: 23px;
    font-family: 'Bad Script', cursive;
    border: 2px greenyellow solid;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 25.5px;
    display: block;
}

.loading {
    text-align: center;
    font-size: 30px;
    background-color: white;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

#preloader_malc {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    z-index: 99
}

.logotip {
    width: 170px;
    height: 120px;
    transform: rotate(-10deg);
    position: absolute;
}

.open_menu:hover .sidebar {
    display: block;
}

@media screen and (max-width: 1920px) {

    canvas {
        width: 700px;
        height: calc(100vh - 230px);
    }
}