* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(Fon.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.sup_block {
    margin-bottom: 50px;
    display: inline-flex;
}

.main_information_SA {
    width: 650px;
    height: 800px;
    margin-left: 10px;
    font-size: 23px;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
}
